xschema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="instrumentos">
    <xs:complexType>
       <xs:sequence>
        <xs:element name="clasitipos">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="tipo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nombretipo" type="xs:string" />
                    <xs:element name="definiciontipo" type="xs:string" />
                    <xs:element maxOccurs="unbounded" name="Formaomodo">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="idmodo" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="idtipo" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="instrumento">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombreinstru" type="xs:string" />
              <xs:element name="imageninstru" type="xs:string" />
              <xs:element name="historia" type="xs:string" />
              <xs:element name="otroinstrumentosrel" type="xs:string" />
              <xs:element name="interpretes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="interprete">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="nameinter" type="xs:string" />
                          <xs:element name="surname" type="xs:string" />
                          <xs:element name="paiscountry" type="xs:string" />
                          <xs:element name="imageninterprete" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="idmodo" type="xs:string" use="required" />
            <xs:attribute name="idtipo" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>